* {
    background-color: whitesmoke;
}

h1 {
    color: darkred;
    text-align: center;
}

h2 {
    margin: 10px;
    font-size: xx-large;
    margin-left: 22px;
    padding-bottom: 10px;
}

img {
    height: 380px;
    width: 480px;
    padding: 5px;
}