* {
    background-color: whitesmoke;
}

h1 {
    color: darkred;
    text-align: center;
} 
.subtopis ul li{
    text-decoration: none;
    list-style: none;
    float: left;
    padding: 15px;
    

    
}
.subtopis{
     align-items: center;
}
  

