body {
    font-family: 'Merriweather', serif;
}

#photo {
    width: 20rem;
    height: 20rem;
    border-radius: 30px;
    margin-left: 10rem;
}

h2,
h4 {
    text-align: center;
    font-weight: 4000;
    font-size: 28px;
    color: black
}

.row {
    padding-top: 12rem;
    ;
}

p {
    margin: 0;
    padding-top: 1rem;
    font-size: 18px;
}

.about {
    padding-left: 3rem;
    margin-left: 2rem;
}

pre {
    padding-top: 1rem;
}

.head h2 {
    font-size: 40px;
    padding-top: 2rem;
}

@media only screen and (max-width: 900px) {
    .container-fluid,
    #photo {
        margin: 0;
    }
    h4 {
        padding-top: 2rem;
    }
    .row {
        padding-top: 2rem;
    }
    .about {
        margin-left: 0;
        padding-left: 0;
    }
    pre {
        margin: 0;
    }
    .row1 {
        flex-direction: column-reverse;
    }
} 

.uiProjects a img{
    height: 300px;
    width: 400px;
    padding: 20px;
    border: 5px  solid blue;
}
.container{
    align-items: center;
    display: flex;
    margin-top: 0px;
}
.uiProjects .row{
    margin: 10px;padding: 25px;
    padding: 10px;
}
